@import './base.css';

body {
  min-height: 100vh;
  color: var(--color-text);
  background: transparent;
  line-height: 1.6;
  font-family: Geist, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove default margin/padding from root to allow full height sidebar */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.trans {
  transition: all 0.3s ease-out;
}

